_site
_posts-drafts
Gemfile.lock
*.gem
.sass-cache
.jekyll-metadata
.jekyll-cache/
.jekyll-cache
.jekyll-cache/Jekyll/Cache
.DS_Store
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
