---
layout: default
---

<h1>
  {{ page.title }}
</h1>

<span class="post-date"><i class="fa fa-edit" aria-hidden="true"></i>
{% assign d = page.date | date: "%-d"  %}
{{ d }}
{{ page.date | date: "%B" }}
{{ page.date | date: "%Y" }}
&nbsp;
{% if page.history %}
  <i class="fa fa-calendar" aria-hidden="true"></i>
  {% assign d = page.history | date: "%-d"  %}
  {{ d }}
  {{ page.history | date: "%B" }}
  {{ page.history | date: "%Y" }}
{% endif %}
&nbsp;
<i class="fa fa-user" aria-hidden="true"></i> {{ site.author }}
&nbsp;
{% if page.location %}
  <i class="fa fa-location-arrow" aria-hidden="true"></i> {{ page.location }}
{% endif %}
</span>


<div>
<span class="tags"><i class="fa fa-tags" aria-hidden="true"></i>
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}">{{ tag_name }}</a>&nbsp;
  {% endfor %}
</span>
</div>

{% if page.image %}
  <img src="{{ site.github.url }}/{{ page.image }}">
{% endif %}

{{ content }}



{% include social-sharing.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
